# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Backend specific
backend/venv/
backend/.env
backend/__pycache__/
backend/data/

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.env
